@model SigmERP.Models.Person

@{
    ViewData["Title"] = "Удаление";
}

<h3>Вы действительно хотите удалить?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeriesDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeriesDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
