@model SigmERP.Models.Person

@{
    ViewData["Title"] = "Карточка сотрудника";
}

<h1>Карточка сотрудника</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaxNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaxNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SocNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SocNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeriesDoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeriesDoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumDoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumDoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateDoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateDoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Authority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Authority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorityCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorityCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>
    </dl>
</div>
<button onclick="javascript:window.print()" class="btn btn-primary m-2">Распечатать</button>  
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Править</a> |
        <a asp-action="Index">Назад к списку</a>
    </div>
