@*@model IEnumerable<SigmERP.Models.Person>*@

@model PaginatedList<SigmERP.Models.Person>

@{
    ViewData["Title"] = "Сотрудники";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Профиль</a></li>
        <li class="breadcrumb-item active">Сотрудники</li>
        <li class="breadcrumb-item"><a asp-controller="Users" asp-action="Index">Пользователи</a></li>
    </ol>
</nav>

<p>
    <a asp-action="Create" class="btn btn btn-success">+ Добавить</a>
</p>
<form asp-action="Index" method="get">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Введите имя или код сотрудника" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
            @*<button class="btn btn-outline-secondary"><a asp-action="Index" style="text-decoration: none;">Весь список</a></button>*@
            <a class="btn btn-outline-secondary" asp-action="Index" style="text-decoration: none;">Весь список</a>
        </div>
    </div>
</form>
<table class="table table-striped print">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">КОД</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">ФИО</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TaxNumber)*@ИНН
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SocNumber)*@СНИЛС
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DateBirth)*@Дата рождения
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Email)*@Email
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Phone)*@Телефон
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBirth)
                </td>
                <th>
                    <a href="mailto:@Html.DisplayFor(model => item.Email)">@Html.DisplayFor(model => item.Email)</a>
                </th>
                <th>
                    <a href="tel:@Html.DisplayFor(model => item.Phone)">@Html.DisplayFor(model => item.Phone)</a>
                </th>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Подробно</a>
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Править</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Предыдущая
</a>
@ViewData["PageNumber"]
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Следующая
</a>
