@model IEnumerable<SigmERP.Models.User>

@{
    ViewData["Title"] = "Пользователи системы";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Профиль</a></li>
            <li class="breadcrumb-item"><a asp-controller="People" asp-action="Index">Сотрудники</a></li>
            <li class="breadcrumb-item active">Пользователи</li>
        </ol>
    </nav>
<h1>Пользователи системы</h1>


<p>
    <a asp-action="Create">Создать</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Править</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
